main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
  }
.grid-container:nth-child(odd) .text-content {
    order: 1;
  }
  
  .grid-container:nth-child(odd) .image-container {
    order: 2;
  }
  
  .grid-container:nth-child(even) .text-content {
    order: 2;
  }
  
  .grid-container:nth-child(even) .image-container {
    order: 1;
  }
  .text-content {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .text-content:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  
  .image-container img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .image-container img:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  